
html,body{

  width:100%;
  height:98%;
  
}

*,::after,::before{
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  marigin: 0;
  padding: 0;
}

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
 
}

html{

    font-family: sans-serif; 
    line-height: 1.5px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.atsx-layout,.atsx-layout *{
  
  box-sizing:border-box;

}

.atsx-layout{

display:flex;
min-height:column;
background:#000000 transparent;
flex-direction:column;

}
.topbar {
  position:relative;
  width:90%;
  height:64px;
  box-shadow:0 2px 16px 0 rgba(31,35,41,0.05);
  z-index:1;
}

.topbar .topbar-content{

  marigin: 0 40px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  
  

}

.topbar .topbar-left{

  display: flex;
  justify-content:flex-start ;
  align-items: center;

}

.topbar .topbar-left .topbar-logo img{

  image-rendering: crisp-edges;
  cursor: pointer;
  height: 28px;
  transition: 1.4s;
  margin:10px 0px 0px 30px;

}

.topbar .topbar-right{

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-menu{

  display:flex;
  height:24px;

}


.right-menu .menu-item{

  margin-right:34px;
  position:relative;
}

.right-menu h2{

  line-height:30px;
  margin:0;

}

.right-menu .a{

  font-size:14px;
  color:#3e4c5b;
  text-decoration: none;


}

.right-menu .menu-item a {
  
  text-color: #c0c0c0;
  text-decoration: none;
} 

/* .right-menu .item-link-active a {
  text-decoration:none;
} */


.right-menu .item-link-active a::after {
  content: '';
  display: block;
  width: 24px;
  height: 2px;
  /*! position: absolute; */
  /* left: calc(50% - 10px); */
  bottom: -2px;
  background-color: #325ab4;
}

.right-menu a{

  font-size:14px;
  color:#3e4c5b;
}

.topbar .topbar-user{

  display: flex;
  align-items:center;
}

.topbar .topbar-user .login-btn{

  color: #3e4c5b;
  top:10px;
  min-width:60;
  font-size: 14px;
  max-height:22px;
}

.atsx-btn > i, .atsx-btn > btn {

  display: inline-block;
  pointer-events:none;
}


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
code,form,fieldset,legend,input,
textarea,p,blockquote,th,td,hr,button,
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,
section {
  margin: 0;
  padding: 0;
  font-weight: normal;
}


.atsx-btn{

    line-height: 1.5;
    position: relative;
    display: inline-block;
    font-weight: normal;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: none;
    cursor: pointer;
    transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    /* height: 30px; */
    padding: 0px 10px;
    font-size: 14px;
    border-radius: 1px;
    min-width: 80px;
  
}

.listContainer{
  display: flex;
  felx-direction:column;

}
.header{

  width:100%;
  margin-bottom:50px;
  position:relative;
}


.header.searchBlockArea{

  display:block;
  height:100%;
  text-align:center;
  margin-top:-1px;

 

}

.searchBannerIntro{

  background-image: url("../image/bd_banner.png");
  width:100%;
  height:340px;
  background-size:cover;
  background-repreat:no-repeat;
  /* background-position-x: 50%;
  background-position-y: 50%; */
  background-position:50% 50%;

   
}

.searchBannerIntro .searchBannerIntro_text{

  color:#fff;
  width: 100%;
  height:100%;
  text-align:center;
  margin:0;
  display:flex;
  flex-direction:column;
  justify-content:center;

}

.searchBannerIntro_tag{
  transform:(0px);
  opacity:2;
  /* font-weight:bold; */
}

.searchBannerIntro .searchBannerIntro_text .searchBannerIntro_tag{
  
  height:60px;
  text-align:center;
  color:#fff;
  font-size:48px;
  font-weight:blod;
  line-height:1.5;

}

.header .search-block{

  display: block;
  opacity:1;

  width:100%;
  height:60px;
  /* border:solid red 1px; */
  text-align:center;
  margin-top:-25px;
  /* background-color:#408080  ; */
  line-height:1.5;
  

}

.header .search-input{
  
 width:840px;
 height:80%;
 border-radius:4px;
 box-shadow:0 8px 24px 0 rgba(54,97,174,0.14);
 font-size:16px;

  /* background-color:#408080; */

  margin:0;
  padding:0;
  color:#3e4c5b;
  font-height:1.5;
  list-style:none;
  font-feature-settings:'tnum';
  position:relative;
  display:inline-block;
  text-align:start;
/*  
  display: flex;
  justify-content: space-between; */
}



.header .search-icon{

  font-size: 18px;
  position: absolute;
  top: 50%;
  left:2%;
  z-index: 2;
  line-height: 0;
  color: #c0c0c0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}




.header .input-text{

  padding-left:65px;
  padding-right:500x;
 
  outine:none;
  font-size:18px;
  border:1px solid transparent;
  text-align: center;

  min-height:100%;
  position:relative;

  touch-action: manipulation;

  resize:none;
  box-sizing:border-box;
  marigin: 0;
  font-variant:tabular-nums;
  font-feature-settings:'tnum';
  display:inline-block;
  width:100%;
  height:30px;
  padding:4px 12px;
  /* color:#3e4c5b; */
  line-height:1.5;
  background-color:#fff;
  background-image:none;
  border-radius:5px;
  transition:all 0.3s;
  caret-color:#c0c0c0;

  
  outline: 0;
  /* outline-color: #0080ff; */
  outline-style: none;
  outline-width: 0px;
}



.header .input-btn{

 top:0;
 right:0;
 bottom:0;
 transform:none;

 font-size:16px;
 position:absolute;
 z-index:2;
 line-height:0;
 color:#9ca2a9;

 font-variant:tabular-nums;
 list-style:none;
 font-feature-settings:'tnum';
 text-align:start;

}

.header .search-btn{

  position:relative;
  width:180px;
  height:100%;
  border-radius:5px;
  background:#325ab4;
  font-size:18px;
  /* font-size:16px; */
  color:#fff;
  border-bottom-left-radius:0;
  border-top-left-radius:0;
  transiton: background-color 0.3s, border-color 0.5s;

  box-shadow:none;
  border-color:#325ab4;


  line-height:1.5;
  display:inline-height;
  white-space:nowrap;
  text-align:center;
  border:1px solid #325ab4;
  cursor:pointer;
  user-select:none;
  touch-action:manipulation;
  min-width:80px;

  marigin:0;
}

.header .search-input input:focus,
.header .search-nput input:hover {

  border: 1px solid #325ab4;

}

.footer .footerwrapper{

  marigin:56px 40px;
  padding:0;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  /* background-color:#804000; */
  font-weight:normal;
}

.footer .footerwrapper .currentLanguage::after{

  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  border-top: 1px solid #325ab4;
  border-right: 1px solid #325ab4;
  -ms-transform: rotate(135deg) scale(0.8);
      transform: rotate(135deg) scale(0.7);
  margin-left: 6px;
  top: -1px;
  position:relative;
  transition: all 0.5s;
  
  
}

